.uploader {
  width: 600px;
  margin: 200px auto;

  :global {
    .anticon {
      margin: 0 0 16px 0;
      color: #40a9ff;
      font-size: 48px;
    }

    h5 {
      margin: 0 0 12px 0;
      color: #333;
      font-size: 16px;
    }

    p {
      margin: 0;
      color: rgba(0, 0, 0, 0.4);
      font-size: 14px;
    }
  }

  .example {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0 0;
    font-size: 12px;

    :global {
      .ant-btn {
        font-size: 12px;
      }
    }
  }
}
